.leaflet-control-attribution svg {
  display: none !important;
}
.leaflet-popup-content-wrapper {
  background: #DDD;
}
.carousel-item img {
  width: 200px;
  height: 200px;
  object-fit: contain; 
}
.leaflet-menu {
  margin-top: 10px;
  border-radius: 5px;
  z-index: 1000;
}
.leaflet-menu-close-button {
  font-size: large;
  margin-top: 2px;
  margin-right: 2px;
}
.leaflet-control-layers-base {
  font-size: medium;
}
.leaflet-control-layers-selector {
  vertical-align: top;
  margin: 5px;
}
.maplibregl-popup-content {
  background: #DDD;
}
